<header>
    <div class="header_container">
      <!--  Heading  -->
      <div class="heading">
        <a href="/"><h1>HEADER</h1></a>
      </div>
  
      <!--  Navigation  -->
      <nav>
        <ul class="nav_list">
          <li><a href="/Home">Home</a></li>
          <li><a href="/About">About</a></li>
          <li><a href="/Projects">Projects</a></li>
          <li><a href="/Challenges">Challenges</a></li>
          <li><a href="/Contact">Contact</a></li>
        </ul>
      </nav>
  
      <!--  Collaps Navigation Button  -->
  <!--     <div class="collaps_nav_container">
        <button class="collaps_nav_btn">NAV</button>
      </div> -->
    </div>
  </header>
  
  <aside class="social_aside">
    <ul class="social_list">
      <li><a href="/GitHub">GitHub</a></li>
      <li><a href="/LinkedIn">LinkedIn</a></li>
      <li><a href="/CodePen">CodePen</a></li>
      <li><a href="/CodeWars">CodeWars</a></li>
    </ul>
  </aside>